#gameBoard {
    display: flex;
    flex-wrap: wrap;
    padding: 100px;
    height: 600px;
    width: 600px;
 }

.gameSquare {
    font-size: 2em;
    color: red;
    border: 1px solid black;
    flex: 1 1 20%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}